html {
    height: 100%;
    
    body {
        height: 100%;
        background: rgba(226,255,148,1);
        background: -moz-linear-gradient(left, rgba(226,255,148,1) 0%, rgba(177,238,119,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,255,148,1)), color-stop(100%, rgba(177,238,119,1)));
        background: -webkit-linear-gradient(left, rgba(226,255,148,1) 0%, rgba(177,238,119,1) 100%);
        background: -o-linear-gradient(left, rgba(226,255,148,1) 0%, rgba(177,238,119,1) 100%);
        background: -ms-linear-gradient(left, rgba(226,255,148,1) 0%, rgba(177,238,119,1) 100%);
        background: linear-gradient(to right, rgba(226,255,148,1) 0%, rgba(177,238,119,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ff94', endColorstr='#b1ee77', GradientType=1 );
        
        #random-quote {
            height: 100%;

            .container-fluid {
                height: 100%;

                .row {
                    height: 100%;
                    
                    .col {
                        height: 100%;

                        .col-container {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                                                    
                        }
                    }
                }
            }
        }
    }
}