.card {
    background-color: #fff;
    padding: 40px;
    margin: 50px 0;
    border-radius: 3px;
    box-shadow: 4px 6px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    a {
        color: #65743A;
        border-bottom: 1px solid #ddd;
    }
    a.random {
        color: #65743A;   
    }   
}
