nav {
    background-color: #fff !important;
    opacity: 0.6;

    .brand-logo {
        color: black;
        padding-left: 20px;
    }

    li {

        a {
            color: black !important;
        }
    }
}